---
import BrandIcon from "@components/snippets/BrandIcon.astro";

const { snippet } = Astro.props;
const {
  slug,
  data: { title, tag, description },
} = snippet;
---

<a
  href={`/snippets/${slug}`}
  title={title}
  class="rounded-xl border border-transparent bg-transparent bg-opacity-20 p-3 py-6 transition duration-100 hover:scale-105 hover:bg-gray-100 dark:hover:bg-gray-800"
>
  <div
    data-umami-event="view-snippet"
    class="mb-4 flex cursor-pointer gap-6 lg:mb-0 lg:p-4"
  >
    <div class="flex items-center justify-center">
      <BrandIcon name={tag} />
    </div>
    <div class="space-y-2 overflow-hidden">
      <h3
        class="overflow-hidden overflow-ellipsis whitespace-nowrap text-lg font-bold leading-8 tracking-tight lg:text-xl"
      >
        {title}
      </h3>
      <p class="text-gray-700 dark:text-gray-400 lg:text-base">
        {description}
      </p>
    </div>
  </div>
</a>
