---
import { slugifyStr } from "@utils/slugify";
import type { Tag } from "../../types";
import BrandIcon from "./BrandIcon.astro";

export interface Props {
  tags: Tag[];
  tagSelected?: string;
}

const { tags, tagSelected } = Astro.props;

const getPath = (tag: string) =>
  tagSelected === tag ? "/snippets/" : `/snippets/tags/${tag}/`;
---

<div
  class="hidden h-full max-h-screen flex-wrap overflow-auto rounded bg-gray-50 pt-5 shadow-md dark:bg-gray-900/70 dark:shadow-gray-800/40 sm:flex"
>
  <div class="flex px-6 py-4">
    {
      tags.map(({ tag, tagName, count }) => {
        return (
          <div>
            <a href={getPath(tag)} title={`${tagName} - ${count} snippets`}>
              <div
                data-umami-event="view-snippets-tag"
                class="mb-4 flex cursor-pointer gap-6 rounded-lg border border-transparent p-3 lg:mb-0 lg:p-4"
              >
                <div class="flex items-center justify-center">
                  <BrandIcon
                    name={tag}
                    isSelected={tagSelected === tag}
                    size={64}
                    class="transition duration-100 hover:scale-125"
                  />
                </div>
              </div>
            </a>
          </div>
        );
      })
    }
  </div>
</div>
